@model HomeIndexViewModel
<!DOCTYPE html>
@{ ViewBag.ExtraField = "Home1"; }
<div>
    <h1>Forums</h1>
    <table>
        @foreach (var forum in Model.Forums)
        {
            <tr>
                <td>
                    <a asp-Action="Sub" asp-route-id="@forum.FName">@forum.FName</a>
                </td>
            </tr>
            <tr>
                <td>Subsribers:</td>
                <td>@forum.FSubscribers</td>
            </tr>

        }
    </table>
</div>

